USE [Practica4]
GO
ALTER TABLE [dbo].[Municipios] DROP CONSTRAINT [FK_Municipios_Estados]
GO
ALTER TABLE [dbo].[Estados] DROP CONSTRAINT [FK_Estados_Pais]
GO
ALTER TABLE [dbo].[Direcciones] DROP CONSTRAINT [FK_Direcciones_Colonias]
GO
ALTER TABLE [dbo].[Departamentos] DROP CONSTRAINT [FK_Departamentos_TipoDepartamento]
GO
ALTER TABLE [dbo].[Colonias] DROP CONSTRAINT [FK_Colonias_Municipios]
GO
ALTER TABLE [dbo].[Clientes] DROP CONSTRAINT [FK_Clientes_Direcciones]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 23/04/2019 08:57:28 p. m. ******/
DROP TABLE [dbo].[Ventas]
GO
/****** Object:  Table [dbo].[TipoTelefono]    Script Date: 23/04/2019 08:57:28 p. m. ******/
DROP TABLE [dbo].[TipoTelefono]
GO
/****** Object:  Table [dbo].[TipoDepartamento]    Script Date: 23/04/2019 08:57:28 p. m. ******/
DROP TABLE [dbo].[TipoDepartamento]
GO
/****** Object:  Table [dbo].[TelefonoProveedores]    Script Date: 23/04/2019 08:57:28 p. m. ******/
DROP TABLE [dbo].[TelefonoProveedores]
GO
/****** Object:  Table [dbo].[TelefonoEmpleados]    Script Date: 23/04/2019 08:57:28 p. m. ******/
DROP TABLE [dbo].[TelefonoEmpleados]
GO
/****** Object:  Table [dbo].[TelefonoClientes]    Script Date: 23/04/2019 08:57:28 p. m. ******/
DROP TABLE [dbo].[TelefonoClientes]
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 23/04/2019 08:57:28 p. m. ******/
DROP TABLE [dbo].[Proveedores]
GO
/****** Object:  Table [dbo].[ProductosBackup]    Script Date: 23/04/2019 08:57:28 p. m. ******/
DROP TABLE [dbo].[ProductosBackup]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 23/04/2019 08:57:28 p. m. ******/
DROP TABLE [dbo].[Productos]
GO
/****** Object:  Table [dbo].[Pais]    Script Date: 23/04/2019 08:57:28 p. m. ******/
DROP TABLE [dbo].[Pais]
GO
/****** Object:  Table [dbo].[Municipios]    Script Date: 23/04/2019 08:57:28 p. m. ******/
DROP TABLE [dbo].[Municipios]
GO
/****** Object:  Table [dbo].[InventarioAlmacen]    Script Date: 23/04/2019 08:57:28 p. m. ******/
DROP TABLE [dbo].[InventarioAlmacen]
GO
/****** Object:  Table [dbo].[Estados]    Script Date: 23/04/2019 08:57:28 p. m. ******/
DROP TABLE [dbo].[Estados]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 23/04/2019 08:57:28 p. m. ******/
DROP TABLE [dbo].[Empleados]
GO
/****** Object:  Table [dbo].[Direcciones]    Script Date: 23/04/2019 08:57:28 p. m. ******/
DROP TABLE [dbo].[Direcciones]
GO
/****** Object:  Table [dbo].[DetalleVentas]    Script Date: 23/04/2019 08:57:28 p. m. ******/
DROP TABLE [dbo].[DetalleVentas]
GO
/****** Object:  Table [dbo].[Departamentos]    Script Date: 23/04/2019 08:57:28 p. m. ******/
DROP TABLE [dbo].[Departamentos]
GO
/****** Object:  Table [dbo].[Colonias]    Script Date: 23/04/2019 08:57:28 p. m. ******/
DROP TABLE [dbo].[Colonias]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 23/04/2019 08:57:28 p. m. ******/
DROP TABLE [dbo].[Clientes]
GO
/****** Object:  Table [dbo].[Almacen]    Script Date: 23/04/2019 08:57:28 p. m. ******/
DROP TABLE [dbo].[Almacen]
GO
/****** Object:  Table [dbo].[Almacen]    Script Date: 23/04/2019 08:57:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Almacen](
	[Id] [uniqueidentifier] NOT NULL,
	[NombreAlmacen] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Almacen] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 23/04/2019 08:57:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[PrimerApellido] [varchar](50) NOT NULL,
	[SegundoApellido] [varchar](50) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[IdDirecciones] [uniqueidentifier] NOT NULL,
	[IdTelefonoCliente] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Colonias]    Script Date: 23/04/2019 08:57:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colonias](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[IdMunicipios] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Colonias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departamentos]    Script Date: 23/04/2019 08:57:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamentos](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[IdTipoDepartamento] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Departamentos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleVentas]    Script Date: 23/04/2019 08:57:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVentas](
	[Id] [uniqueidentifier] NOT NULL,
	[IdInventarioAlmacen] [uniqueidentifier] NOT NULL,
	[IdVentas] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_DetalleVentas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Direcciones]    Script Date: 23/04/2019 08:57:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Direcciones](
	[Id] [uniqueidentifier] NOT NULL,
	[Calle] [varchar](50) NOT NULL,
	[NumeroExterior] [varchar](50) NULL,
	[NumeroInterior] [varchar](50) NOT NULL,
	[IdColonias] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Direcciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 23/04/2019 08:57:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[PrimerApellido] [varchar](50) NOT NULL,
	[SegundoApellido] [varchar](50) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[FechaIngreso] [date] NOT NULL,
	[IdTelefonoEmpleados] [uniqueidentifier] NOT NULL,
	[IdDirecciones] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Empleados] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estados]    Script Date: 23/04/2019 08:57:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estados](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[IdPais] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Estados] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventarioAlmacen]    Script Date: 23/04/2019 08:57:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventarioAlmacen](
	[Id] [uniqueidentifier] NOT NULL,
	[IdAlmacen] [uniqueidentifier] NOT NULL,
	[IdProductos] [uniqueidentifier] NOT NULL,
	[Cantidad] [varchar](50) NOT NULL,
	[Existencia] [varchar](50) NOT NULL,
	[IdProveedores] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_InventarioAlmacen] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Municipios]    Script Date: 23/04/2019 08:57:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Municipios](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[IdEstados] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Municipios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pais]    Script Date: 23/04/2019 08:57:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pais](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Pais] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 23/04/2019 08:57:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Precio] [money] NOT NULL,
	[IdDepartamento] [uniqueidentifier] NOT NULL,
	[IdInventarioAlmacen] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductosBackup]    Script Date: 23/04/2019 08:57:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductosBackup](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Precio] [money] NOT NULL,
	[IdDepartamento] [uniqueidentifier] NOT NULL,
	[IdInventarioAlmacen] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 23/04/2019 08:57:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[PrimerApellido] [varchar](50) NOT NULL,
	[SegundoApellido] [varchar](50) NOT NULL,
	[Empresa] [varchar](50) NOT NULL,
	[IdDirecciones] [uniqueidentifier] NOT NULL,
	[IdTelefonoProveedores] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Proveedores] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TelefonoClientes]    Script Date: 23/04/2019 08:57:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TelefonoClientes](
	[Id] [uniqueidentifier] NOT NULL,
	[Numero] [varchar](50) NOT NULL,
	[IdTipoTelefono] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_TelefonoClientes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TelefonoEmpleados]    Script Date: 23/04/2019 08:57:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TelefonoEmpleados](
	[Id] [uniqueidentifier] NOT NULL,
	[Numero] [varchar](50) NOT NULL,
	[IdTipoTelefono] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_TelefonoEmpleados] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TelefonoProveedores]    Script Date: 23/04/2019 08:57:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TelefonoProveedores](
	[Id] [uniqueidentifier] NOT NULL,
	[Numero] [varchar](50) NOT NULL,
	[IdTipoTelefono] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_TelefonoProveedores] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoDepartamento]    Script Date: 23/04/2019 08:57:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoDepartamento](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TipoDepartamento] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoTelefono]    Script Date: 23/04/2019 08:57:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoTelefono](
	[Id] [uniqueidentifier] NOT NULL,
	[TipoTelefono] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TipoTelefono] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 23/04/2019 08:57:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[Id] [uniqueidentifier] NOT NULL,
	[IdDetalleVentas] [uniqueidentifier] NOT NULL,
	[FechaVenta] [date] NOT NULL,
	[IdEmpleado] [uniqueidentifier] NOT NULL,
	[IdCliente] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Ventas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Almacen] ([Id], [NombreAlmacen]) VALUES (N'67e638f5-c840-4070-844c-04f1e5cdf7cd', N'Almacen Pull&Bear')
INSERT [dbo].[Almacen] ([Id], [NombreAlmacen]) VALUES (N'881dd728-7e3b-4690-9169-2ebf9b338fcf', N'Almacen ZARA')
INSERT [dbo].[Almacen] ([Id], [NombreAlmacen]) VALUES (N'a0ca063b-a2ef-4487-954b-65fdf1aedc26', N'Almacen SEHIN')
INSERT [dbo].[Clientes] ([Id], [Nombre], [PrimerApellido], [SegundoApellido], [FechaNacimiento], [IdDirecciones], [IdTelefonoCliente]) VALUES (N'7ff906c0-2a97-4b8e-9817-321b37b3ea6f', N'Luz Elizabeth', N'Patlan', N'Acevedo', CAST(N'1998-10-20' AS Date), N'403a7c8c-a6fe-4c48-8ed8-0d25b278f70f', N'25ee67ff-ddab-475b-9552-7390ac7223c5')
INSERT [dbo].[Clientes] ([Id], [Nombre], [PrimerApellido], [SegundoApellido], [FechaNacimiento], [IdDirecciones], [IdTelefonoCliente]) VALUES (N'3f1e6dc7-96fa-46ed-8bac-6187ac4dc3e3', N'Luis Jesus', N'Saldaña', N'Castillo', CAST(N'1996-12-27' AS Date), N'bd626256-89a1-4cf6-b066-1e79bf2cab3d', N'037eef86-2efc-4d8d-87ec-d6e2e1ac8a00')
INSERT [dbo].[Clientes] ([Id], [Nombre], [PrimerApellido], [SegundoApellido], [FechaNacimiento], [IdDirecciones], [IdTelefonoCliente]) VALUES (N'66d0b83d-d06b-4dd1-8859-ae545f2a12b2', N'Allison Michelle', N'Garza', N'Salas', CAST(N'2000-02-08' AS Date), N'600a56b5-5ff7-480f-be7d-7b09c7b10a67', N'6818764b-b240-444f-b7ca-94b124140055')
INSERT [dbo].[Colonias] ([Id], [Nombre], [IdMunicipios]) VALUES (N'b600b252-ae61-4a9f-9497-0099b7d8ed6c', N'Balcones de San Miguel', N'eda3c037-a185-4c6d-a5d3-94e0d1b9e66b')
INSERT [dbo].[Colonias] ([Id], [Nombre], [IdMunicipios]) VALUES (N'643381a9-ddb5-4ea7-afd1-14a6dd20b5f9', N'Country', N'3db4a2f2-532f-4cf3-9ce0-e16755154d3f')
INSERT [dbo].[Colonias] ([Id], [Nombre], [IdMunicipios]) VALUES (N'ffecad46-3106-47bb-a33e-3954448de2f3', N'El Campanario', N'c8acc899-f8be-4881-a422-c943fb8bd1c0')
INSERT [dbo].[Departamentos] ([Id], [Nombre], [IdTipoDepartamento]) VALUES (N'0f283e9b-d701-4db7-9ed4-271aeda060c2', N'3', N'afcda5dc-8b99-44fc-9643-9c032c924cf6')
INSERT [dbo].[Departamentos] ([Id], [Nombre], [IdTipoDepartamento]) VALUES (N'63607f25-818a-4070-b113-7ac550c5e49e', N'2', N'858337fb-b0b9-43dd-b6c2-9cddaf91ba87')
INSERT [dbo].[Departamentos] ([Id], [Nombre], [IdTipoDepartamento]) VALUES (N'4dffba36-c95b-4343-97eb-da2c156e856d', N'1', N'f000d00d-e805-4877-969f-badff922d71f')
INSERT [dbo].[DetalleVentas] ([Id], [IdInventarioAlmacen], [IdVentas]) VALUES (N'95b72619-3d35-4049-a353-0c1007f1efe7', N'b123e642-2b10-4456-ad30-ddcedc60c626', N'fa19573e-edcb-4d1d-afe1-66f5ffcd0247')
INSERT [dbo].[DetalleVentas] ([Id], [IdInventarioAlmacen], [IdVentas]) VALUES (N'a52c4500-7632-4ae2-888f-a62757dd0dc5', N'85af2aa7-92ed-4fa7-8339-31d1d423beb0', N'268b5465-7038-4534-8059-b5b2f4e1fd40')
INSERT [dbo].[DetalleVentas] ([Id], [IdInventarioAlmacen], [IdVentas]) VALUES (N'7798ba23-e3a5-4eda-b500-e812dd13c7ac', N'214642eb-e691-4fb5-8b1a-b6bf268a8035', N'e78f3824-7e75-4d21-93b8-ad6497a19c4c')
INSERT [dbo].[Direcciones] ([Id], [Calle], [NumeroExterior], [NumeroInterior], [IdColonias]) VALUES (N'42de5023-66f0-4f52-81ff-01b3e4fcb5cf', N'Oro', N'516', N'', N'1da8310f-9049-43f8-8928-6a392befa776')
INSERT [dbo].[Direcciones] ([Id], [Calle], [NumeroExterior], [NumeroInterior], [IdColonias]) VALUES (N'403a7c8c-a6fe-4c48-8ed8-0d25b278f70f', N'Tulipan', N'5116', N'', N'd28cdc38-6d1a-4348-8a4a-7dc883b34651')
INSERT [dbo].[Direcciones] ([Id], [Calle], [NumeroExterior], [NumeroInterior], [IdColonias]) VALUES (N'72fe1caa-ae2e-4c1a-8ace-17ad17c98aee', N'Abdul', N'303', N'', N'3b8ba556-bf12-440f-b27a-8184ed437262')
INSERT [dbo].[Empleados] ([Id], [Nombre], [PrimerApellido], [SegundoApellido], [FechaNacimiento], [FechaIngreso], [IdTelefonoEmpleados], [IdDirecciones]) VALUES (N'e5e1f25a-772f-45ff-98e0-3a67d28e981e', N'Monserrath', N'Castro', N'Reyna', CAST(N'1999-08-25' AS Date), CAST(N'2018-01-15' AS Date), N'95ceebf2-70f1-466e-9f62-b0971735692a', N'c3d59def-a3ef-4630-a604-b5672fd1c39a')
INSERT [dbo].[Empleados] ([Id], [Nombre], [PrimerApellido], [SegundoApellido], [FechaNacimiento], [FechaIngreso], [IdTelefonoEmpleados], [IdDirecciones]) VALUES (N'2fbfde4c-80a4-43aa-a1e5-8091da4e4288', N'Lauro', N'Cabello', N'Alvarez', CAST(N'1973-11-14' AS Date), CAST(N'2016-09-21' AS Date), N'03fa8043-0cd8-4441-9f9e-cf183adca02a', N'955e9fe9-7a5c-4214-a17d-53eef2a6cee3')
INSERT [dbo].[Empleados] ([Id], [Nombre], [PrimerApellido], [SegundoApellido], [FechaNacimiento], [FechaIngreso], [IdTelefonoEmpleados], [IdDirecciones]) VALUES (N'd98b0347-8fe9-467b-b501-925cdef92682', N'Abigail', N'Garcia', N'Castro', CAST(N'1998-12-07' AS Date), CAST(N'2017-09-21' AS Date), N'8e3f2fda-e8f1-464a-b924-1d5e9d9efafd', N'126427dc-3ed9-4fce-9176-a3e9a24aea48')
INSERT [dbo].[Estados] ([Id], [Nombre], [IdPais]) VALUES (N'd24ebbb7-7687-4a7b-8497-0acb1c2ff631', N'Nuevo Leon', N'af7a859d-13d3-4814-a53c-b8975b9f6e9d')
INSERT [dbo].[Estados] ([Id], [Nombre], [IdPais]) VALUES (N'42afbf22-d822-481e-b7e2-293040b115e7', N'Nuevo Leon', N'b6261c30-751d-43a1-b684-71fe9568348f')
INSERT [dbo].[Estados] ([Id], [Nombre], [IdPais]) VALUES (N'6fa3a84f-0a48-4482-9711-336d869fa7fa', N'Nuevo Leon', N'ae9814dc-9b26-447b-be98-4fd57c366f3a')
INSERT [dbo].[InventarioAlmacen] ([Id], [IdAlmacen], [IdProductos], [Cantidad], [Existencia], [IdProveedores]) VALUES (N'550f8845-6c51-473c-b8f8-283f036033cb', N'1e69f94d-289a-4b1c-89da-8abf502f093a', N'a64386c4-109e-4540-a8bf-806643436bd2', N'1', N'Si', N'928dd428-c8b9-4725-996e-df22e44eccfe')
INSERT [dbo].[InventarioAlmacen] ([Id], [IdAlmacen], [IdProductos], [Cantidad], [Existencia], [IdProveedores]) VALUES (N'7653f855-b4b8-4d65-9045-2f19c4a0ea98', N'ec677c15-5529-4067-8f05-7962fd7fb612', N'6c883ce8-84e9-4db3-a630-5c1093956644', N'3', N'Si', N'83196eea-585b-4f6f-9bf6-8c2dacc9664f')
INSERT [dbo].[InventarioAlmacen] ([Id], [IdAlmacen], [IdProductos], [Cantidad], [Existencia], [IdProveedores]) VALUES (N'9074d34d-f71d-4b37-ad95-604dbf87f846', N'1e69f94d-289a-4b1c-89da-8abf502f093a', N'cbd379e7-049c-425c-b26b-18c584281642', N'25', N'Si', N'928dd428-c8b9-4725-996e-df22e44eccfe')
INSERT [dbo].[Municipios] ([Id], [Nombre], [IdEstados]) VALUES (N'8d289c56-5a64-42e0-add9-182bfa434d86', N'Apodaca', N'42afbf22-d822-481e-b7e2-293040b115e7')
INSERT [dbo].[Municipios] ([Id], [Nombre], [IdEstados]) VALUES (N'd901462b-b927-423f-b948-1c55b1006d60', N'Apodaca', N'5e9b6fe2-8c32-4296-8afb-9f565abec40e')
INSERT [dbo].[Municipios] ([Id], [Nombre], [IdEstados]) VALUES (N'573f487e-63f5-4ee7-a09d-2cf87f01301f', N'Guadalupe', N'098f9d7a-a935-4c66-9fd4-c150c09825fc')
INSERT [dbo].[Pais] ([Id], [Nombre]) VALUES (N'cfe7195b-8168-49af-9b97-0fe913d0ea05', N'Mexico')
INSERT [dbo].[Pais] ([Id], [Nombre]) VALUES (N'e6ba9022-9a2f-4efb-8262-1678fab57cc4', N'Mexico')
INSERT [dbo].[Pais] ([Id], [Nombre]) VALUES (N'2c168d7e-8de3-422c-b5d1-27b779492d0f', N'Mexico')
INSERT [dbo].[Productos] ([Id], [Nombre], [Precio], [IdDepartamento], [IdInventarioAlmacen]) VALUES (N'5702092f-dad2-4e60-94c9-09d2b29c4543', N'Vestido Blanco', 650.0000, N'4dffba36-c95b-4343-97eb-da2c156e856d', N'f9d31f84-255b-4793-adfe-99539a43ebfb')
INSERT [dbo].[Productos] ([Id], [Nombre], [Precio], [IdDepartamento], [IdInventarioAlmacen]) VALUES (N'cbd379e7-049c-425c-b26b-18c584281642', N'CropTop Snoopy', 155.0000, N'4dffba36-c95b-4343-97eb-da2c156e856d', N'9074d34d-f71d-4b37-ad95-604dbf87f846')
INSERT [dbo].[Productos] ([Id], [Nombre], [Precio], [IdDepartamento], [IdInventarioAlmacen]) VALUES (N'674d177b-6669-441c-ab9c-50a0a1eeb764', N'CropTop Snoopy', 95.0000, N'4dffba36-c95b-4343-97eb-da2c156e856d', N'9074d34d-f71d-4b37-ad95-604dbf87f846')
INSERT [dbo].[ProductosBackup] ([Id], [Nombre], [Precio], [IdDepartamento], [IdInventarioAlmacen]) VALUES (N'5702092f-dad2-4e60-94c9-09d2b29c4543', N'Vestido Blanco', 650.0000, N'4dffba36-c95b-4343-97eb-da2c156e856d', N'f9d31f84-255b-4793-adfe-99539a43ebfb')
INSERT [dbo].[ProductosBackup] ([Id], [Nombre], [Precio], [IdDepartamento], [IdInventarioAlmacen]) VALUES (N'cbd379e7-049c-425c-b26b-18c584281642', N'CropTop Snoopy', 155.0000, N'4dffba36-c95b-4343-97eb-da2c156e856d', N'9074d34d-f71d-4b37-ad95-604dbf87f846')
INSERT [dbo].[ProductosBackup] ([Id], [Nombre], [Precio], [IdDepartamento], [IdInventarioAlmacen]) VALUES (N'674d177b-6669-441c-ab9c-50a0a1eeb764', N'CropTop Snoopy', 95.0000, N'4dffba36-c95b-4343-97eb-da2c156e856d', N'9074d34d-f71d-4b37-ad95-604dbf87f846')
INSERT [dbo].[Proveedores] ([Id], [Nombre], [PrimerApellido], [SegundoApellido], [Empresa], [IdDirecciones], [IdTelefonoProveedores]) VALUES (N'ec06e9e9-efdc-465e-af93-797ade898c59', N'Lucia', N'Loredo', N'Cordova', N'Pull&Bear', N'cf42a265-9c71-4e8f-9fa8-89d0d0cf7d0e', N'fb3e09e9-2c6e-4869-89ab-8e24a33abc97')
INSERT [dbo].[Proveedores] ([Id], [Nombre], [PrimerApellido], [SegundoApellido], [Empresa], [IdDirecciones], [IdTelefonoProveedores]) VALUES (N'83196eea-585b-4f6f-9bf6-8c2dacc9664f', N'Nicole', N'Garza', N'Garza', N'Forever 21', N'e1b2388b-bdd1-4284-878f-30853502b913', N'a48b42b3-a762-4c52-96df-990894a17b58')
INSERT [dbo].[Proveedores] ([Id], [Nombre], [PrimerApellido], [SegundoApellido], [Empresa], [IdDirecciones], [IdTelefonoProveedores]) VALUES (N'3fe783bd-348a-4f1c-a3f8-9678a1ee9e08', N'Lizbeth', N'García', N'Perez', N'SEHIN', N'72fe1caa-ae2e-4c1a-8ace-17ad17c98aee', N'c529df9c-b330-439b-8b79-89c06dd28a49')
INSERT [dbo].[TelefonoClientes] ([Id], [Numero], [IdTipoTelefono]) VALUES (N'596db0d0-0fe9-4ee8-a162-3f010cf6567f', N'8282814367', N'0d6ccb05-e718-43b7-ad80-09f76a24eb73')
INSERT [dbo].[TelefonoClientes] ([Id], [Numero], [IdTipoTelefono]) VALUES (N'25ee67ff-ddab-475b-9552-7390ac7223c5', N'82456756', N'4dd1c0b8-25fd-482c-bfc8-91ed2b2d444e')
INSERT [dbo].[TelefonoClientes] ([Id], [Numero], [IdTipoTelefono]) VALUES (N'b06ba565-36ac-449a-91d1-8e393ad7eca3', N'8181263782', N'0d6ccb05-e718-43b7-ad80-09f76a24eb73')
INSERT [dbo].[TelefonoEmpleados] ([Id], [Numero], [IdTipoTelefono]) VALUES (N'8e3f2fda-e8f1-464a-b924-1d5e9d9efafd', N'8218890983', N'0d6ccb05-e718-43b7-ad80-09f76a24eb73')
INSERT [dbo].[TelefonoEmpleados] ([Id], [Numero], [IdTipoTelefono]) VALUES (N'f2a94eda-0ff6-4bb6-8ae5-4767daa71fea', N'81829987', N'4dd1c0b8-25fd-482c-bfc8-91ed2b2d444e')
INSERT [dbo].[TelefonoEmpleados] ([Id], [Numero], [IdTipoTelefono]) VALUES (N'95ceebf2-70f1-466e-9f62-b0971735692a', N'8123452679', N'0d6ccb05-e718-43b7-ad80-09f76a24eb73')
INSERT [dbo].[TelefonoProveedores] ([Id], [Numero], [IdTipoTelefono]) VALUES (N'35364a51-ab7f-4c55-b755-6fb3a00a0121', N'8155689208', N'0d6ccb05-e718-43b7-ad80-09f76a24eb73')
INSERT [dbo].[TelefonoProveedores] ([Id], [Numero], [IdTipoTelefono]) VALUES (N'c529df9c-b330-439b-8b79-89c06dd28a49', N'8111457097', N'0d6ccb05-e718-43b7-ad80-09f76a24eb73')
INSERT [dbo].[TelefonoProveedores] ([Id], [Numero], [IdTipoTelefono]) VALUES (N'fb3e09e9-2c6e-4869-89ab-8e24a33abc97', N'45697038', N'7eb11825-8c26-4af8-a71e-2895beceed53')
INSERT [dbo].[TipoDepartamento] ([Id], [Nombre]) VALUES (N'afcda5dc-8b99-44fc-9643-9c032c924cf6', N'Accesorios')
INSERT [dbo].[TipoDepartamento] ([Id], [Nombre]) VALUES (N'858337fb-b0b9-43dd-b6c2-9cddaf91ba87', N'Calzado')
INSERT [dbo].[TipoDepartamento] ([Id], [Nombre]) VALUES (N'f000d00d-e805-4877-969f-badff922d71f', N'Ropa')
INSERT [dbo].[TipoTelefono] ([Id], [TipoTelefono]) VALUES (N'0d6ccb05-e718-43b7-ad80-09f76a24eb73', N'Celular')
INSERT [dbo].[TipoTelefono] ([Id], [TipoTelefono]) VALUES (N'7eb11825-8c26-4af8-a71e-2895beceed53', N'Empresa')
INSERT [dbo].[TipoTelefono] ([Id], [TipoTelefono]) VALUES (N'4dd1c0b8-25fd-482c-bfc8-91ed2b2d444e', N'Casa')
INSERT [dbo].[Ventas] ([Id], [IdDetalleVentas], [FechaVenta], [IdEmpleado], [IdCliente]) VALUES (N'fa19573e-edcb-4d1d-afe1-66f5ffcd0247', N'95b72619-3d35-4049-a353-0c1007f1efe7', CAST(N'2017-11-15' AS Date), N'e5e1f25a-772f-45ff-98e0-3a67d28e981e', N'd94b4bff-8799-44ab-88d0-b9cdf9dd415f')
INSERT [dbo].[Ventas] ([Id], [IdDetalleVentas], [FechaVenta], [IdEmpleado], [IdCliente]) VALUES (N'e78f3824-7e75-4d21-93b8-ad6497a19c4c', N'7798ba23-e3a5-4eda-b500-e812dd13c7ac', CAST(N'2017-10-21' AS Date), N'6a48f522-e55c-4658-b6ca-ecc70b424c0f', N'f4ce1c09-480d-4c16-a6eb-ebe9581f6fa1')
INSERT [dbo].[Ventas] ([Id], [IdDetalleVentas], [FechaVenta], [IdEmpleado], [IdCliente]) VALUES (N'268b5465-7038-4534-8059-b5b2f4e1fd40', N'a52c4500-7632-4ae2-888f-a62757dd0dc5', CAST(N'2017-09-11' AS Date), N'2fbfde4c-80a4-43aa-a1e5-8091da4e4288', N'3f1e6dc7-96fa-46ed-8bac-6187ac4dc3e3')
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_Direcciones] FOREIGN KEY([IdDirecciones])
REFERENCES [dbo].[Direcciones] ([Id])
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK_Clientes_Direcciones]
GO
ALTER TABLE [dbo].[Colonias]  WITH CHECK ADD  CONSTRAINT [FK_Colonias_Municipios] FOREIGN KEY([IdMunicipios])
REFERENCES [dbo].[Municipios] ([Id])
GO
ALTER TABLE [dbo].[Colonias] CHECK CONSTRAINT [FK_Colonias_Municipios]
GO
ALTER TABLE [dbo].[Departamentos]  WITH CHECK ADD  CONSTRAINT [FK_Departamentos_TipoDepartamento] FOREIGN KEY([IdTipoDepartamento])
REFERENCES [dbo].[TipoDepartamento] ([Id])
GO
ALTER TABLE [dbo].[Departamentos] CHECK CONSTRAINT [FK_Departamentos_TipoDepartamento]
GO
ALTER TABLE [dbo].[Direcciones]  WITH CHECK ADD  CONSTRAINT [FK_Direcciones_Colonias] FOREIGN KEY([IdColonias])
REFERENCES [dbo].[Colonias] ([Id])
GO
ALTER TABLE [dbo].[Direcciones] CHECK CONSTRAINT [FK_Direcciones_Colonias]
GO
ALTER TABLE [dbo].[Estados]  WITH CHECK ADD  CONSTRAINT [FK_Estados_Pais] FOREIGN KEY([IdPais])
REFERENCES [dbo].[Pais] ([Id])
GO
ALTER TABLE [dbo].[Estados] CHECK CONSTRAINT [FK_Estados_Pais]
GO
ALTER TABLE [dbo].[Municipios]  WITH CHECK ADD  CONSTRAINT [FK_Municipios_Estados] FOREIGN KEY([IdEstados])
REFERENCES [dbo].[Estados] ([Id])
GO
ALTER TABLE [dbo].[Municipios] CHECK CONSTRAINT [FK_Municipios_Estados]
GO
